.unselectable
  .col-md-12
    .widget-container.fluid-height.unfollowLayout
      div.title
        span 直接关注
        input(ng-if='status', bs-switch, type='checkbox', switch-size='small', switch-on-text='开',switch-off-text='关',
          ng-model='resource1.status', ng-true-value="1",ng-false-value="0", ng-change="switchResStatus()")
        .spinner-inline-wrap
          .input-group.spinner
            input.form-control(ng-model='resource1.level')
            .input-group-btn-vertical
              button.btn.btn-default(ng-click='addResLevel(1)', ng-disabled='resource1.level >= 10')
                i.fa.fa-caret-up
              button.btn.btn-default(ng-click='reductionResLevel(1)', ng-disabled='resource1.level <= 0')
                i.fa.fa-caret-down
      div
        .form-group(ng-show='resource1.status')
          .form-group
            label.checkbox
              input(type='checkbox', ng-model='resource1.blackSecret')
              span 私密用户拉黑
          .form-group
            label.checkbox
              input(type='checkbox', ng-model='resource1.blackFollow')
              span 关注后拉黑
          label 用户名设置:
          .flex-content
            textarea.form-control.inline-block.textarea(ng-model='users1')
            div
              button.btn.btn-primary.rightBtn(ng-click='addResource(1)') 添加到资源库
        div(ng-if='resource1.status')
          .pull-left
            .form-inline
              .form-group
                input.form-control(placeholder='请输入资源名', ng-model='$parent.search1')
                button.btn.btn-primary.rightBtn(ng-click='getList(1)') 搜索
          .pull-right
            button.btn.btn-primary.m-b-0(ng-click='clearRes(1)') 清空资源库
            button.btn.btn-primary.no-margin(ng-click='delInsUserList(1)') 删除
          table.table.table-hover.dataTable.ng-table
            thead
              tr
                th.header
                  label
                    input(type='checkbox', ng-checked='selectedResList.users1.length === resource1.res.length', ng-click='selectAllResItem(1)')
                    span.text 全选
                th.header
                  div 状态
                th.header
                  div 名称
                th.header
                  div 类型
                th.header
                  div 等级
                th.header
                  div 私密用户拉黑
                th.header
                  div 关注后拉黑
                th.header
                  div 添加时间
                th.header
                  div 操作
            tbody
              tr(ng-repeat='(index, item) in resource1.res')
                td
                  label
                    input(type='checkbox', ng-checked='checkSelectedResList(item)', ng-click='resListCheckbox(item)')
                    span.text 选择
                td
                  div
                    input(bs-switch, type='checkbox', switch-size='small', switch-on-text='开',switch-off-text='关',
                      ng-model='item.status', ng-true-value="1", ng-false-value="0", ng-change="switchChange(item.type, index)")
                td
                  div {{item.res}}
                td
                  div {{item.type| filterType}}
                td
                  div.input-group.spinner
                    input.form-control(ng-model='item.level', readonly)
                    .input-group-btn-vertical
                      button.btn.btn-default(ng-click='addlevel(item.type, index)', ng-disabled='item.level >= 10')
                        i.fa.fa-caret-up
                      button.btn.btn-default(ng-click='reductionLevel(item.type, index)', ng-disabled='item.level <= 0')
                        i.fa.fa-caret-down
                td
                  div {{item.blackSecret ? '是' : '否'}}
                td
                  div {{item.blackFollow ? '是' : '否'}}
                td
                  div {{item.created}}
                td
                  button.btn(ng-click='delInsUser(item.type, index)') 删除
          nothing-to-show(message='暂无数据', icon='fa-sitemap', ng-show='!resource1.res.length')
          ul.pager
            li
              button.btn.btn-link(ng-disabled='resource1.page === 1', ng-click='prev(1)') 上一页
            li
              button.btn.btn-link(ng-disabled='!resource1.hasNext', ng-click='next(1)') 下一页
          .clearfix.form-group
            .pull-left
              .form-inline
                .form-group
                  input.form-control(placeholder='请输入黑名单名称', ng-model='$parent.blackSearch1')
                button.btn.btn-primary.rightBtn(ng-click='getBlackList(1)') 搜索
            //.pull-right
            //  button.btn.btn-primary.m-b-0(ng-click='clearBlack(1, 1)') 清空资源
            //  button.btn.btn-primary.m-b-0(ng-click='clearBlack(0, 1)') 清空私密
            //  button.btn.btn-primary.no-margin(ng-click='delBlackList(1)') 删除
          .form-inline
          table.table.table-hover.dataTable.ng-table
            thead
              tr
                th.header
                  label
                    input(type='checkbox', ng-checked='selectedBlackList.users1.length === resource1.blackList.length', ng-click='selectAllBlackItem(1)')
                    span.text 全选
                th.header
                  div 黑名单
                th.header
                  div 来源
                th.header
                  div 类型
                //th.header
                //  div 操作
            tbody
              tr(ng-repeat='(index, item) in resource1.blackList')
                td
                  label
                    input(type='checkbox', ng-checked='checkSelectedBlackList(item)', ng-click='blackListCheckbox(item)')
                    span 选择
                td
                  div {{item.blackName}}
                td
                  div {{item.res}}
                td
                  div {{item.status === 9 ? '私密' : (item.type| filterType)}}
                //td
                //  button.btn(ng-click='delBlack(item.type, index)') 删除
          nothing-to-show(message='暂无数据', icon='fa-sitemap', ng-show='!resource1.blackList.length')
          ul.pager
            li
              button.btn.btn-link(ng-disabled='resource1.blackPage === 1', ng-click='prev(1, true)') 上一页
            li
              button.btn.btn-link(ng-disabled='!resource1.blackHasNext', ng-click='next(1, true)') 下一页

    .widget-container.fluid-height.unfollowLayout
      .title
        span 粉丝或关注列表
        input(ng-if='status', bs-switch, type='checkbox', switch-size='small', switch-on-text='开',
          switch-off-text='关', ng-model='resource2.status', ng-true-value="1",
          ng-false-value="0", ng-change="switchResStatus()")
        .input-group.spinner
          input.form-control(ng-model='resource2.level')
          .input-group-btn-vertical
            button.btn.btn-default(ng-click='addResLevel(2)', ng-disabled='resource2.level >= 10')
              i.fa.fa-caret-up
            button.btn.btn-default(ng-click='reductionResLevel(2)', ng-disabled='resource2.level <= 0')
              i.fa.fa-caret-down
      div
        .form-group(ng-show='resource2.status')
          .form-group
            label.checkbox
              input(type='checkbox', ng-model='resource2.blackSecret')
              span 私密用户拉黑
          .form-group
            label.checkbox
              input(type='checkbox', ng-model='resource2.blackFollow')
              span 关注后拉黑
          label 用户名设置:
          .flex-content
            textarea.form-control.textarea(ng-model='users2')
            div
              button.btn.btn-primary.rightBtn(ng-click='addResource(2)') 粉丝操作
              button.btn.btn-primary.rightBtn(ng-click='addResource(3)') 关注操作
        div(ng-if='resource2.status')
          .pull-left
            .form-inline
              .form-group
                input.form-control(placeholder='请输入资源名', ng-model='$parent.search2')
              button.btn.btn-primary.rightBtn(ng-click='getList(2)') 搜索
          .pull-right
            button.btn.btn-primary.m-b-0(ng-click='clearRes(2)') 清空资源库
            button.btn.btn-primary.rightBtn(ng-click='delInsUserList(2)') 删除
          table.table.table-hover.dataTable.ng-table
            thead
              tr
                th.header
                  label
                    input(type='checkbox', ng-checked='selectedResList.users2.length === resource2.res.length', ng-click='selectAllResItem(2)')
                    span.rightBtn 全选
                th.header
                  div 状态
                th.header
                  div 名称
                th.header
                  div 类型
                th.header
                  div 等级
                th.header
                  div 添加时间
                th.header
                  div 操作
            tbody
              tr(ng-repeat='(index, item) in resource2.res')
                td
                  label
                    input(type='checkbox', ng-checked='checkSelectedResList(item)', ng-click='resListCheckbox(item)')
                    span.rightBtn 选择
                td
                  div
                    input(bs-switch, type='checkbox', switch-size='small', switch-on-text='开启',
                      switch-off-text='关闭', ng-model='item.status', ng-true-value="1",
                      ng-false-value="0", ng-change="switchChange(item.type, index)")
                td
                  div {{item.res}}
                td
                  div {{item.type| filterType}}
                td
                  div.input-group.spinner
                    input.form-control(ng-model='item.level', readonly)
                    .input-group-btn-vertical
                      button.btn.btn-default(ng-click='addlevel(item.type, index)', ng-disabled='item.level >= 10')
                        i.fa.fa-caret-up
                      button.btn.btn-default(ng-click='reductionLevel(item.type, index)', ng-disabled='item.level <= 0')
                        i.fa.fa-caret-down
                td
                  div {{item.created}}
                td
                  button.btn(ng-click='delInsUser(item.type, index)') 删除
          nothing-to-show(message='暂无数据', icon='fa-sitemap', ng-show='!resource2.res.length')
          ul.pager
            li
              button.btn.btn-link(ng-disabled='resource2.page === 1', ng-click='prev(2)') 上一页
            li
              button.btn.btn-link(ng-disabled='!resource2.hasNext', ng-click='next(2)') 下一页
          .form-group.clearfix
            .pull-left
              .form-inline
                .form-group
                  input.form-control(placeholder='请输入黑名单名称', ng-model='$parent.blackSearch2')
                button.btn.btn-primary.no-margin(ng-click='getBlackList(2)') 搜索
            //.pull-right
            //  button.btn.btn-primary.m-b-0(ng-click='clearBlack(2, 2)') 清空粉丝
            //  button.btn.btn-primary.m-b-0(ng-click='clearBlack(3, 2)') 清空关注
            //  button.btn.btn-primary.m-b-0(ng-click='clearBlack(0, 2)') 清空私密
            //  button.btn.btn-primary.no-margin(ng-click='delBlackList(2)') 删除
          .form-inline
          table.table.table-hover.dataTable.ng-table
            thead
              tr
                th.header
                  label
                    input(type='checkbox', ng-checked='selectedBlackList.users2.length === resource2.blackList.length', ng-click='selectAllBlackItem(2)')
                    span.rightBtn 全选
                th.header
                  div 黑名单
                th.header
                  div 来源
                th.header
                  div 类型
                //th.header
                //  div 操作
            tbody
              tr(ng-repeat='(index, item) in resource2.blackList')
                td
                  label
                    input(type='checkbox', ng-checked='checkSelectedBlackList(item)', ng-click='blackListCheckbox(item)')
                    span.rightBtn 选择
                td
                  div {{item.blackName}}
                td
                  div {{item.res}}
                td
                  div {{item.status === 9 ? '私密' : (item.type| filterType)}}
                //td
                //  button.btn(ng-click='delBlack(item.type, index)') 删除
          nothing-to-show(message='暂无数据', icon='fa-sitemap', ng-show='!resource2.blackList.length')
          ul.pager
            li
              button.btn.btn-link(ng-disabled='resource2.blackPage === 1', ng-click='prev(2, true)') 上一页
            li
              button.btn.btn-link(ng-disabled='!resource2.blackHasNext', ng-click='next(2, true)') 下一页

    .widget-container.fluid-height.unfollowLayout
      .title
        span 帖子的点赞或评论列表
        input(ng-if='status', bs-switch, type='checkbox', switch-size='small', switch-on-text='开',
          switch-off-text='关', ng-model='resource3.status', ng-true-value="1",
          ng-false-value="0", ng-change="switchResStatus()")
        .input-group.spinner
          input.form-control(ng-model='resource3.level')
          .input-group-btn-vertical
            button.btn.btn-default(ng-click='addResLevel(4)', ng-disabled='resource3.level >= 10')
              i.fa.fa-caret-up
            button.btn.btn-default(ng-click='reductionResLevel(4)', ng-disabled='resource3.level <= 0')
              i.fa.fa-caret-down
      div
        .form-group(ng-if='resource3.status')
          .form-group
            label.checkbox
              input(type='checkbox', ng-model='resource3.blackSecret')
              span 私密用户拉黑
          .form-group
            label.checkbox
              input(type='checkbox', ng-model='resource3.blackFollow')
              span 关注后拉黑
        .form-group.form-inline(ng-show='resource3.status')
          span 帖子操作设置:
          input.form-control.sort-input.rightBtn(type='number', ng-model='postBefore')
          span.rightBtn (单位:条) 帖子,取
          input.form-control.sort-input.rightBtn(type='number', ng-model='postChoice')
          span.rightBtn (单位:条) 帖子操作
        .form-group(ng-show='resource3.status')
          label 用户名设置:
          .flex-content
            textarea.form-control.textarea(ng-model='users3')
            div
              button.btn.btn-primary.rightBtn(ng-click='addResource(4)') 点赞操作
              button.btn.btn-primary.rightBtn(ng-click='addResource(5)') 评论操作
        div(ng-if='resource3.status')
          .pull-left
            .form-inline
              .form-group
                input.form-control(placeholder='请输入资源名', ng-model='$parent.search3')
              button.btn.btn-primary.rightBtn(ng-click='getList(3)') 搜索
          .pull-right
            button.btn.btn-primary.m-b-0(ng-click='clearRes(3)') 清空资源库
            button.btn.btn-primary.rightBtn(ng-click='delInsUserList(3)') 删除
          table.table.table-hover.dataTable.ng-table
            thead
              tr
                th.header
                  label
                    input(type='checkbox', ng-checked='selectedResList.users3.length === resource3.res.length', ng-click='selectAllResItem(3)')
                    span 全选
                th.header
                  div 状态
                th.header
                  div 名称
                th.header
                  div 类型
                th.header
                  div 总选择帖子
                th.header
                  div 操作帖子
                th.header
                  div 等级
                th.header
                  div 添加时间
                th.header
                  div 操作
            tbody
              tr(ng-repeat='(index, item) in resource3.res')
                td
                  label
                    input(type='checkbox', ng-checked='checkSelectedResList(item)', ng-click='resListCheckbox(item)')
                    span 选择
                td
                  div
                    input(bs-switch, type='checkbox', switch-size='small', switch-on-text='开启',
                      switch-off-text='关闭', ng-model='item.status', ng-true-value="1",
                      ng-false-value="0", ng-change="switchChange(item.type, index)")
                td
                  div {{item.res}}
                td
                  div {{item.type | filterType}}
                td
                  div {{item.postBefore}}
                td
                  div {{item.postChoice}}
                td
                  div.input-group.spinner
                    input.form-control(ng-model='item.level', readonly)
                    .input-group-btn-vertical
                      button.btn.btn-default(ng-click='addlevel(item.type, index)', ng-disabled='item.level >= 10')
                        i.fa.fa-caret-up
                      button.btn.btn-default(ng-click='reductionLevel(item.type, index)', ng-disabled='item.level <= 0')
                        i.fa.fa-caret-down
                td
                  div {{item.created}}
                td
                  button.btn(ng-click='delInsUser(item.type, index)') 删除
          nothing-to-show(message='暂无数据', icon='fa-sitemap', ng-show='!resource3.res.length')
          ul.pager
            li
              button.btn.btn-link(ng-disabled='resource3.page === 1', ng-click='prev(3)') 上一页
            li
              button.btn.btn-link(ng-disabled='!resource3.hasNext', ng-click='next(3)') 下一页
          .clearfix.form-group
            .pull-left
              .form-inline
                .form-group
                  input.form-control(placeholder='请输入黑名单名称', ng-model='$parent.blackSearch3')
                button.btn.btn-primary.rightBtn(ng-click='getBlackList(3)') 搜索
            //.pull-right
            //  button.btn.btn-primary.m-b-0(ng-click='clearBlack(4, 3)') 清空点赞
            //  button.btn.btn-primary.m-b-0(ng-click='clearBlack(5, 3)') 清空评论
            //  button.btn.btn-primary.m-b-0(ng-click='clearBlack(0, 3)') 清空私密
            //  button.btn.btn-primary.no-margin(ng-click='delBlackList(3)') 删除
          .form-inline
          table.table.table-hover.dataTable.ng-table
            thead
              tr
                th.header
                  label
                    input(type='checkbox', ng-checked='selectedBlackList.users3.length === resource3.blackList.length', ng-click='selectAllBlackItem(3)')
                    span.text 全选
                th.header
                  div 黑名单
                th.header
                  div 来源
                th.header
                  div 类型
                //th.header
                //  div 操作
            tbody
              tr(ng-repeat='(index, item) in resource3.blackList')
                td
                  label
                    input(type='checkbox', ng-checked='checkSelectedBlackList(item)', ng-click='blackListCheckbox(item)')
                    span.text 选择
                td
                  div {{item.blackName}}
                td
                  div {{item.res}}
                td
                  div {{item.status === 9 ? '私密' : (item.type| filterType)}}
                //td
                //  button.btn(ng-click='delBlack(item.type, index)') 删除
          nothing-to-show(message='暂无数据', icon='fa-sitemap', ng-show='!resource3.blackList.length')
          ul.pager
            li
              button.btn.btn-link(ng-disabled='resource3.blackPage === 1', ng-click='prev(3, true)') 上一页
            li
              button.btn.btn-link(ng-disabled='!resource3.blackHasNext', ng-click='next(3, true)') 下一页

    button.btn.btn-primary.save-btn(ng-click='save()') 保存资源
