.unselectable
  .col-md-12
    .widget-container.fluid-height
      .content(ng-if='insAccount.account')
        label [评论资源设置]
      div.title
        span 对特定用户进行操作
        input(ng-if='status', bs-switch, type='checkbox', switch-size='small', switch-on-text='开启',
        switch-off-text='关闭', ng-model='resource1.status', ng-true-value="1",
        ng-false-value="0", ng-change="switchResStatus()")
        .spinner-inline-wrap
          .input-group.spinner
            input.form-control(ng-model='resource1.level')
            .input-group-btn-vertical
              button.btn.btn-default(ng-click='addResLevel(1)', ng-disabled='resource1.level >= 10')
                i.fa.fa-caret-up
              button.btn.btn-default(ng-click='reductionResLevel(1)', ng-disabled='resource1.level <= 0')
                i.fa.fa-caret-down
      div
        .form-group.form-inline(ng-if='resource1.status')
          label 设置要操作的帖子:在前
          input.form-control(ng-model='beforeZone.users1', type='number')
          span 条帖子中随机
          input.form-control(ng-model='beforeLike.users1', type='number')
          span 条帖子操作
        .form-group(ng-show='resource1.status')
          label 设置要评论的语句:
          .flex-content
            textarea.form-control.textarea#resource1(ng-model='rotateMsg.users1')
          .color-blue Tips:这里的语句为旋转语法(类似 开头{a|b|c}中间{1|2|3}结尾)
          button.btn.emoji-btn(ng-click='toggleEmoji(1)')
            img(src='/static/res/emoji.png')
          emoji(value='rotateMsg.users1', el-key='resource1', visible='resource1EmojiVisible', close='toggleEmoji(1)')

        .form-group(ng-show='resource1.status')
          label 设置要操作的用户的名称:
          .flex-content
            textarea.form-control.inline-block.textarea(ng-model='users1')
            div
              button.btn.btn-primary(ng-click='addResource(1)') 资源操作
          span.color-blue Tips:直接对资源进行操作(每个词汇之间用换行隔开)
        div(ng-if='resource1.status')
          .pull-left
            .form-inline
              .form-group
                input.form-control(placeholder='请输入资源名', ng-model='$parent.search1')
              button.btn.btn-primary.no-margin(ng-click='getList(1)') 搜索
          .pull-right
            button.btn.btn-primary.no-margin(ng-click='delInsUserList(1)') 删除
          table.table.table-hover.dataTable.ng-table
            thead
              tr
                th.header
                  label
                    input(type='checkbox', ng-checked='selectedResList.users1.length === resource1.res.length', ng-click='selectAllResItem(1)')
                    span 全选
                th.header
                  div 状态
                th.header(style='width: 130px;')
                  div 名称
                th.header
                  div 评论内容
                th.header(style='width: 100px;')
                  div 类型
                th.header(style='width: 100px;')
                  div 记录
                th.header(style='width: 100px;')
                  div 等级
                th.header(style='width: 130px;')
                  div 添加时间
                th.header(style='width: 100px;')
                  div 操作
            tbody
              tr(ng-repeat='(index, item) in resource1.res')
                td
                  label
                    input(type='checkbox', ng-checked='checkSelectedResList(item)', ng-click='resListCheckbox(item)')
                    span 选择
                td
                  div
                    input(bs-switch, type='checkbox', switch-size='small', switch-on-text='开启',
                    switch-off-text='关闭', ng-model='item.status', ng-true-value="1",
                    ng-false-value="0", ng-change="switchChange(item.type, index)")
                td
                  div {{item.res}}
                td
                  div {{item.rotateMsg}}
                td
                  div {{item.type| filterType}}
                td
                  div {{item.record}}
                td
                  div.input-group.spinner
                    input.form-control(ng-model='item.level', readonly)
                    .input-group-btn-vertical
                      button.btn.btn-default(ng-click='addlevel(item.type, index)', ng-disabled='item.level >= 10')
                        i.fa.fa-caret-up
                      button.btn.btn-default(ng-click='reductionLevel(item.type, index)', ng-disabled='item.level <= 0')
                        i.fa.fa-caret-down
                td
                  div {{item.created}}
                td
                  button.btn(ng-click='delInsUser(item.type, index)') 删除
          nothing-to-show(message='暂无数据', icon='fa-sitemap', ng-show='!resource1.res.length')

          ul.pager
            li
              button.btn.btn-link(ng-disabled='resource1.page === 1', ng-click='prev(1)') 上一页
            li
              button.btn.btn-link(ng-disabled='!resource1.hasNext', ng-click='next(1)') 下一页

          .pull-left
            .form-inline
              .form-group
                input.form-control(placeholder='请输入黑名单名称', ng-model='$parent.blackSearch1')
              button.btn.btn-primary.no-margin(ng-click='getBlackList(1)') 搜索
          .pull-right
            button.btn.btn-primary.no-margin(ng-click='delBlackList(1)') 删除
          table.table.table-hover.dataTable.ng-table
            thead
              tr
                th.header
                  label
                    input(type='checkbox', ng-checked='selectedBlackList.users1.length === resource1.blackList.length', ng-click='selectAllBlackItem(1)')
                    span 全选
                th.header
                  div 黑名单
                th.header
                  div 来源
                th.header
                  div 类型
                th.header
                  div 操作
            tbody
              tr(ng-repeat='(index, item) in resource1.blackList')
                td
                  label
                    input(type='checkbox', ng-checked='checkSelectedBlackList(item)', ng-click='blackListCheckbox(item)')
                    span 选择
                td
                  div {{item.blackName}}
                td
                  div {{item.res}}
                td
                  div {{item.type| filterType}}
                td
                  button.btn(ng-click='delBlack(item.type, index)') 删除

          nothing-to-show(message='暂无数据', icon='fa-sitemap', ng-show='!resource1.blackList.length')

          ul.pager
            li
              button.btn.btn-link(ng-disabled='resource1.blackPage === 1', ng-click='prev(1, true)') 上一页
            li
              button.btn.btn-link(ng-disabled='!resource1.blackHasNext', ng-click='next(1, true)') 下一页

    .widget-container.fluid-height
      .title
        span 对特定用户的粉丝/关注进行操作
        input(ng-if='status', bs-switch, type='checkbox', switch-size='small', switch-on-text='开启',
        switch-off-text='关闭', ng-model='resource2.status', ng-true-value="1",
        ng-false-value="0", ng-change="switchResStatus()")
        .input-group.spinner
          input.form-control(ng-model='resource2.level')
          .input-group-btn-vertical
            button.btn.btn-default(ng-click='addResLevel(2)', ng-disabled='resource2.level >= 10')
              i.fa.fa-caret-up
            button.btn.btn-default(ng-click='reductionResLevel(2)', ng-disabled='resource2.level <= 0')
              i.fa.fa-caret-down

      div
        .form-group.form-inline(ng-if='resource2.status')
          label 设置要操作的帖子:在前
          input.form-control(ng-model='beforeZone.users2', type='number')
          span 条帖子中随机
          input.form-control(ng-model='beforeLike.users2', type='number')
          span 条帖子操作
        .form-group(ng-show='resource2.status')
          label 设置要评论的语句:
          .flex-content
            textarea.form-control.textarea#resource2(ng-model='rotateMsg.users2')
          .color-blue Tips:这里的语句为旋转语法(类似 开头{a|b|c}中间{1|2|3}结尾)
          button.btn.emoji-btn(ng-click='toggleEmoji(2)')
            img(src='/static/res/emoji.png')
          emoji(value='rotateMsg.users2', el-key='resource2', visible='resource2EmojiVisible', close='toggleEmoji(2)')

        .form-group(ng-show='resource2.status')
          label 设置要操作的用户的名称:
          .flex-content
            textarea.form-control.textarea(ng-model='users2')
            div
              button.btn.btn-primary(ng-click='addResource(2)') 粉丝操作
              button.btn.btn-primary(ng-click='addResource(3)') 关注操作
          span.color-blue Tips:对资源的粉丝/关注列表进行操作(每个词汇之间用换行隔开)
        div(ng-if='resource2.status')
          .pull-left
            .form-inline
              .form-group
                input.form-control(placeholder='请输入资源名', ng-model='$parent.search2')
              button.btn.btn-primary.no-margin(ng-click='getList(2)') 搜索
          .pull-right
            button.btn.btn-primary.no-margin(ng-click='delInsUserList(2)') 删除
          table.table.table-hover.dataTable.ng-table
            thead
              tr
                th.header
                  label
                    input(type='checkbox', ng-checked='selectedResList.users2.length === resource2.res.length', ng-click='selectAllResItem(2)')
                    span 全选
                th.header
                  div 状态
                th.header(style='width: 130px;')
                  div 名称
                th.header
                  div 评论内容
                th.header(style='width: 100px;')
                  div 类型
                th.header(style='width: 100px;')
                  div 记录
                th.header(style='width: 100px;')
                  div 等级
                th.header(style='width: 130px;')
                  div 添加时间
                th.header(style='width: 100px;')
                  div 操作
            tbody
              tr(ng-repeat='(index, item) in resource2.res')
                td
                  label
                    input(type='checkbox', ng-checked='checkSelectedResList(item)', ng-click='resListCheckbox(item)')
                    span 选择
                td
                  div
                    input(bs-switch, type='checkbox', switch-size='small', switch-on-text='开启',
                    switch-off-text='关闭', ng-model='item.status', ng-true-value="1",
                    ng-false-value="0", ng-change="switchChange(item.type, index)")
                td
                  div {{item.res}}
                td
                  div {{item.rotateMsg}}
                td
                  div {{item.type| filterType}}
                td
                  div {{item.record}}
                td
                  div.input-group.spinner
                    input.form-control(ng-model='item.level', readonly)
                    .input-group-btn-vertical
                      button.btn.btn-default(ng-click='addlevel(item.type, index)', ng-disabled='item.level >= 10')
                        i.fa.fa-caret-up
                      button.btn.btn-default(ng-click='reductionLevel(item.type, index)', ng-disabled='item.level <= 0')
                        i.fa.fa-caret-down
                td
                  div {{item.created}}
                td
                  button.btn(ng-click='delInsUser(item.type, index)') 删除

          nothing-to-show(message='暂无数据', icon='fa-sitemap', ng-show='!resource2.res.length')

          ul.pager
            li
              button.btn.btn-link(ng-disabled='resource2.page === 1', ng-click='prev(2)') 上一页
            li
              button.btn.btn-link(ng-disabled='!resource2.hasNext', ng-click='next(2)') 下一页

          .pull-left
            .form-inline
              .form-group
                input.form-control(placeholder='请输入黑名单名称', ng-model='$parent.blackSearch2')
              button.btn.btn-primary.no-margin(ng-click='getBlackList(2)') 搜索
          .pull-right
            button.btn.btn-primary.no-margin(ng-click='delBlackList(2)') 删除
          table.table.table-hover.dataTable.ng-table
            thead
              tr
                th.header
                  label
                    input(type='checkbox', ng-checked='selectedBlackList.users2.length === resource2.blackList.length', ng-click='selectAllBlackItem(2)')
                    span 全选
                th.header
                  div 黑名单
                th.header
                  div 来源
                th.header
                  div 类型
                th.header
                  div 操作
            tbody
              tr(ng-repeat='(index, item) in resource2.blackList')
                td
                  label
                    input(type='checkbox', ng-checked='checkSelectedBlackList(item)', ng-click='blackListCheckbox(item)')
                    span 选择
                td
                  div {{item.blackName}}
                td
                  div {{item.res}}
                td
                  div {{item.type| filterType}}
                td
                  button.btn(ng-click='delBlack(item.type, index)') 删除

          nothing-to-show(message='暂无数据', icon='fa-sitemap', ng-show='!resource2.blackList.length')

          ul.pager
            li
              button.btn.btn-link(ng-disabled='resource2.blackPage === 1', ng-click='prev(2, true)') 上一页
            li
              button.btn.btn-link(ng-disabled='!resource2.blackHasNext', ng-click='next(2, true)') 下一页

    .widget-container.fluid-height
      .title
        span 对特定用户的帖子点赞/评论进行操作
        input(ng-if='status', bs-switch, type='checkbox', switch-size='small', switch-on-text='开启',
        switch-off-text='关闭', ng-model='resource3.status', ng-true-value="1",
        ng-false-value="0", ng-change="switchResStatus()")
        .input-group.spinner
          input.form-control(ng-model='resource3.level')
          .input-group-btn-vertical
            button.btn.btn-default(ng-click='addResLevel(4)', ng-disabled='resource3.level >= 10')
              i.fa.fa-caret-up
            button.btn.btn-default(ng-click='reductionResLevel(4)', ng-disabled='resource3.level <= 0')
              i.fa.fa-caret-down

      div
        .form-group.form-inline(ng-if='resource3.status')
          label 设置要筛选的帖子:在前
          input.form-control(ng-model='postBefore', type='number')
          span 条帖子中随机选择
          input.form-control(ng-model='postChoice', type='number')
          span 条帖子对其点赞/评论列表筛选用户
        .form-group.form-inline(ng-if='resource3.status')
          label 设置对目标用户筛选通过后要操作的帖子:在前
          input.form-control(ng-model='beforeZone.users3', type='number')
          span 条帖子中随机选择
          input.form-control(ng-model='beforeLike.users3', type='number')
          span 条帖子,对帖子进行评论操作
        .form-group(ng-show='resource3.status')
          label 设置要评论的语句:
          .flex-content
            textarea.form-control.textarea#resource3(ng-model='rotateMsg.users3')
          .color-blue Tips:这里的语句为旋转语法(类似 开头{a|b|c}中间{1|2|3}结尾)
          button.btn.emoji-btn(ng-click='toggleEmoji(3)')
            img(src='/static/res/emoji.png')
          emoji(value='rotateMsg.users3', el-key='resource3', visible='resource3EmojiVisible', close='toggleEmoji(3)')

        .form-group(ng-show='resource3.status')
          label 设置要操作的用户的名称:
          .flex-content
            textarea.form-control.textarea(ng-model='users3')
            div
              button.btn.btn-primary(ng-click='addResource(4)') 点赞操作
              button.btn.btn-primary(ng-click='addResource(5)') 评论操作
          span.color-blue Tips:对资源的帖子的点赞/评论列表进行操作(每个词汇之间用换行隔开)
        div(ng-if='resource3.status')
          .pull-left
            .form-inline
              .form-group
                input.form-control(placeholder='请输入资源名', ng-model='$parent.search3')
              button.btn.btn-primary.no-margin(ng-click='getList(3)') 搜索
          .pull-right
            button.btn.btn-primary.no-margin(ng-click='delInsUserList(3)') 删除
          table.table.table-hover.dataTable.ng-table
            thead
              tr
                th.header
                  label
                    input(type='checkbox', ng-checked='selectedResList.users3.length === resource3.res.length', ng-click='selectAllResItem(3)')
                    span 全选
                th.header
                  div 状态
                th.header(style='width: 130px;')
                  div 名称
                th.header
                  div 评论内容
                th.header(style='width: 100px;')
                  div 类型
                th.header(style='width: 100px;')
                  div 记录
                th.header(style='width: 100px;')
                  div 等级
                th.header(style='width: 130px;')
                  div 添加时间
                th.header(style='width: 100px;')
                  div 操作
            tbody
              tr(ng-repeat='(index, item) in resource3.res')
                td
                  label
                    input(type='checkbox', ng-checked='checkSelectedResList(item)', ng-click='resListCheckbox(item)')
                    span 选择
                td
                  div
                    input(bs-switch, type='checkbox', switch-size='small', switch-on-text='开启',
                    switch-off-text='关闭', ng-model='item.status', ng-true-value="1",
                    ng-false-value="0", ng-change="switchChange(item.type, index)")
                td
                  div {{item.res}}
                td
                  div {{item.rotateMsg}}
                td
                  div {{item.type | filterType}}
                td
                  div {{item.record}}
                td
                  div.input-group.spinner
                    input.form-control(ng-model='item.level', readonly)
                    .input-group-btn-vertical
                      button.btn.btn-default(ng-click='addlevel(item.type, index)', ng-disabled='item.level >= 10')
                        i.fa.fa-caret-up
                      button.btn.btn-default(ng-click='reductionLevel(item.type, index)', ng-disabled='item.level <= 0')
                        i.fa.fa-caret-down
                td
                  div {{item.created}}
                td
                  button.btn(ng-click='delInsUser(item.type, index)') 删除

          nothing-to-show(message='暂无数据', icon='fa-sitemap', ng-show='!resource3.res.length')

          ul.pager
            li
              button.btn.btn-link(ng-disabled='resource3.page === 1', ng-click='prev(3)') 上一页
            li
              button.btn.btn-link(ng-disabled='!resource3.hasNext', ng-click='next(3)') 下一页

          .pull-left
            .form-inline
              .form-group
                input.form-control(placeholder='请输入黑名单名称', ng-model='$parent.blackSearch3')
              button.btn.btn-primary.no-margin(ng-click='getBlackList(3)') 搜索
          .pull-right
            button.btn.btn-primary.no-margin(ng-click='delBlackList(3)') 删除
          table.table.table-hover.dataTable.ng-table
            thead
              tr
                th.header
                  label
                    input(type='checkbox', ng-checked='selectedBlackList.users3.length === resource3.blackList.length', ng-click='selectAllBlackItem(3)')
                    span 全选
                th.header
                  div 黑名单
                th.header
                  div 来源
                th.header
                  div 类型
                th.header
                  div 操作
            tbody
              tr(ng-repeat='(index, item) in resource3.blackList')
                td
                  label
                    input(type='checkbox', ng-checked='checkSelectedBlackList(item)', ng-click='blackListCheckbox(item)')
                    span 选择
                td
                  div {{item.blackName}}
                td
                  div {{item.res}}
                td
                  div {{item.type| filterType}}
                td
                  button.btn(ng-click='delBlack(item.type, index)') 删除

          nothing-to-show(message='暂无数据', icon='fa-sitemap', ng-show='!resource3.blackList.length')

          ul.pager
            li
              button.btn.btn-link(ng-disabled='resource3.blackPage === 1', ng-click='prev(3, true)') 上一页
            li
              button.btn.btn-link(ng-disabled='!resource3.blackHasNext', ng-click='next(3, true)') 下一页

    button.btn.btn-primary.save-btn(ng-click='save()') 保存资源
